    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <header itemscope itemtype="http://schema.org/WPHeader">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.unveiledfuture.com/" itemprop="url">
            <img src="http://res.cloudinary.com/dr3vzmqaf/image/upload/v1405633756/reported_date_20140717/unveiledfuture_logo222_fl4krg.png"/>
            </a>
            <%#= image_tag "unveiledfuture_logo.png", itemprop: "image"%></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
            <li>
                <%= link_to "Share your Vision", {controller: "premonitions", action: "new"}, role: "button", 'data-no-turbolink' => true, 'itemprop' => "url" %>
            </li>
            <li> 
                <%= link_to "Premonitions Database List", {controller: "premonitions", action: "index"}, role: "button", 'data-no-turbolink' => true, 'itemprop' => "url" %>
            </li>
            <li> 
                <%= link_to "About", {controller: "premonitions", action: "about"}, role: "button", 'itemprop' => "url" %>
            </li>
            <li>
            	<%= link_to(raw("<div itemprop='name'>Login with Twitter</div>"), '/auth/twitter', itemprop: "url") %>
            </li>
            <li>
            	<%= link_to(raw("<div itemprop='name'>Login with Facebook</div>"), '/auth/facebook', itemprop: "url") %>
            </li>
          </ul>
        </div>
        </header>
      </div>
    </div>

    <%# Main jumbotron for a primary marketing message or call to action %>
    <div class="jumbotron atom">
      <div class="container" itemscope itemtype="http://schema.org/WebPageElement">
        <h1 itemprop="headline">Premonition</h1>
        <blockquote itemprop="citation">
        <p><strong>Precognition</strong>, also called <strong>future sight</strong>, and <strong>second sight</strong>, is a type of <strong>extrasensory perception</strong> that would involve the acquisition or effect of future information that cannot be deducted from presently available and normally acquired sense-based information.</p>
        <small>Precognition definition from <cite title="Wikipedia" itemprop="creator">Wikipedia</cite></small>
        </blockquote>
        <p>
          <%= link_to "Learn more » ", {controller: "premonitions",action: "belief"}, class: "btn btn-primary btn-lg", role: "button"%></p>
      </div>

      <div class="container">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="panel panel-warning" id="sec_box" style="display: none;">
                <div class="panel-heading">
                    <h3 class="panel-title">Sorry!</h3>
                </div>
                <div class="panel-body">
                    We are building this site, you'll be able to see all the contents and premonitions soon. Thank you for being patient.
                </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
      </div>
    </div>


    <div class="container">
      <%# Example row of columns %>
      <div class="row">
        <div class="col-md-4" itemscope itemtype="http://schema.org/WebPageElement">
          <h2 itemprop="headline">Share your Vision</h2>
          <p>Have you had a <strong>dream</strong>, <strong>déjà vu</strong>, or <strong>vision</strong> of a future or past event? Please do report your <strong>extrasensory perception</strong> and share it with the world.</p>
          <p><%= link_to "View details » ", {controller: "premonitions", action: "new"}, class: "btn btn-default", role: "button", 'data-no-turbolink' => true %></p>
        </div>
        <div class="col-md-4" itemscope itemtype="http://schema.org/WebPageElement">
          <h2 itemprop="headline">Precognition Cases</h2>
          <p>From <strong>Eleanor Sidgwick</strong> and <strong>Herbert Saltmarsh</strong> to the current date, here you will find many cases of precognition.</p>
          <p><%= link_to "View details » ", {controller: "premonitions", action: "index"}, class: "btn btn-default", role: "button", 'data-no-turbolink' => true %></p>
       </div>
        <div class="col-md-4" itemscope itemtype="http://schema.org/WebPageElement">
          <h2 itemprop="headline">Find People like YOU</h2>
          <p>A connection might exist between you and other people all over the world. Search our premonitions database and discover if you had a shared vision.</p>
          <p><a class="btn btn-default" target="_blank" href="https://www.facebook.com/unveiledfuture" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
      <script type="text/javascript">
         $(function() {
             $('#attach_box1').click(function() {
                 $('#sec_box').show();
                 setTimeout(function() {
                    $('#sec_box').hide();
                 }, 3000);
             });
             $('#attach_box2').click(function() {
                 $('#sec_box').show();
                 setTimeout(function() {
                    $('#sec_box').hide();
                 }, 3000);
             });
             $('#attach_box3').click(function() {
                 $('#sec_box').show();
                 setTimeout(function() {
                    $('#sec_box').hide();
                 }, 3000);
             });
         });
      </script>
      <footer itemscope itemtype="http://schema.org/WPFooter">
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
          <p itemprop="name">&copy; Unveiled Future 2014</p>
        </span>
      </footer>
    </div> <%# /container %>
