<h1>Listing premonitions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Type</th>
      <th>Type description</th>
      <th>Description</th>
      <th>Location user</th>
      <th>Location premonition</th>
      <th>Premonition come true</th>
      <th>Premonition come true description</th>
      <th>Someone else</th>
      <th>Own conclusions</th>
      <th>More premonitions</th>
      <th>Tags</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @premonitions.each do |premonition| %>
      <tr>
        <td><%= premonition.title %></td>
        <td><%= premonition.date %></td>
        <td><%= premonition.type %></td>
        <td><%= premonition.type_description %></td>
        <td><%= premonition.description %></td>
        <td><%= premonition.location_user %></td>
        <td><%= premonition.location_premonition %></td>
        <td><%= premonition.premonition_come_true %></td>
        <td><%= premonition.premonition_come_true_description %></td>
        <td><%= premonition.someone_else %></td>
        <td><%= premonition.own_conclusions %></td>
        <td><%= premonition.more_premonitions %></td>
        <td><%= premonition.tags %></td>
        <td><%= premonition.status %></td>
        <td><%= link_to 'Show', premonition %></td>
        <td><%= link_to 'Edit', edit_premonition_path(premonition) %></td>
        <td><%= link_to 'Destroy', premonition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premonition', new_premonition_path %>
